.noproduct-all {
  margin: 3rem 0 8rem 0;
}
.flex-icon-noproduct {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-noproduct {
  width: 15%;
  margin-top: 8rem;
}
.title-noproduct {
  text-align: center;
  font-size: 2.4rem;
  margin: 5rem 0 8px 0;
}
.text-noproduct {
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
}
.collection-button {
  display: flex;
  justify-content: center;
  margin: 8rem 0 8rem 0;
}
.collection-button .button {
  width: 408px;
  margin: 0;
}

@media (max-width: 617px) {
  .icon-noproduct {
    width: 25%;
  }
  .collection-button .button {
    font-size: 1.4rem;
  }
}
@media (max-width: 403px) {
  .icon-noproduct {
    width: 30%;
  }
  .collection-button .button {
    font-size: 1.4rem;
  }
  .title-noproduct {
    font-size: 1.8rem;
  }
  .text-noproduct {
    font-size: 1.4rem;
  }
}
